In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("classification.csv")#, header = None, names = ['y', 'x1', 'x2'])
print(df.shape)
df.head(10)

(200, 2)

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1
5     1     1
6     1     1
7     0     1
8     0     0
9     0     1

In [46]:
TP = np.sum(df['true'] * df['pred'])
TP

43

In [41]:
FP = np.sum(np.equal(df['true'] + 1, df['pred']))
FP

34

In [52]:
np.sum(np.equal(df['pred'], 1))

77

In [47]:
np.sum(np.equal(df['true'], 1))

102

In [50]:
TN = np.sum(np.equal(df['true'] + df['pred'], 0))
TN

64

In [53]:
FN = np.sum(np.equal(df['true'], df['pred'] + 1))
FN

59

In [59]:
from sklearn import metrics

accuracy = metrics.accuracy_score(df['true'], df['pred'])
accuracy

0.53500000000000003

In [60]:
precision = metrics.precision_score(df['true'], df['pred'])
precision

0.55844155844155841

In [61]:
recall = metrics.recall_score(df['true'], df['pred'])
recall

0.42156862745098039

In [62]:
f1score = metrics.f1_score(df['true'], df['pred'])
f1score

0.48044692737430167

In [63]:
scores = pd.read_csv("scores.csv")#, header = None, names = ['y', 'x1', 'x2'])
print(scores.shape)
scores.head(10)

(200, 5)

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263
5     0      0.108506  -0.790864   0.000000    0.000000
6     0      0.413749  -0.185143   0.283053    0.363636
7     0      0.961081   0.830973   1.000000    1.000000
8     0      0.055733  -0.872805   0.000000    0.100000
9     0      0.168708  -0.518390   0.000000    0.100000

In [68]:
score_logreg = metrics.roc_auc_score(scores['true'], scores['score_logreg'])
print("score_logreg = ", score_logreg)
score_svm = metrics.roc_auc_score(scores['true'], scores['score_svm'])
print("score_svm = ", score_svm)
score_knn = metrics.roc_auc_score(scores['true'], scores['score_knn'])
print("score_knn = ", score_knn)
score_tree = metrics.roc_auc_score(scores['true'], scores['score_tree'])
print("score_tree = ", score_tree)

score_logreg =  0.71918767507
score_svm =  0.708683473389
score_knn =  0.635154061625
score_tree =  0.691926770708

In [ ]:
metrics.precision_recall_curve