In [1]:
import pandas as pd
import numpy as np
abalone = pd.read_csv("abalone.csv")#, header = None, names = ['y', 'x1', 'x2'])
print(abalone.shape)
abalone.head(10)

(4177, 9)

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,9
9,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19

In [7]:
#abalone['Sex'] = abalone['Sex'].map(lambda x: 1 if x == 'M' else (-1 if x == 'F' else 0))
abalone['Sex'] = [1 if x == 'M' else (-1 if x == 'F' else 0) for x in abalone['Sex']]
abalone.head(10)

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,0,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,-1,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
7,-1,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,1,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,9
9,-1,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19

In [8]:
abalone_features = abalone.iloc[:,:-1]
abalone_features.head(10)

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055
5,0,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120
6,-1,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330
7,-1,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260
8,1,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165
9,-1,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320

In [9]:
abalone_target = abalone.iloc[:,-1:]
abalone_target.head(10)

   Rings
0     15
1      7
2      9
3     10
4      7
5      8
6     20
7     16
8      9
9     19

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import KFold
from sklearn.metrics import r2_score
from sklearn.cross_validation import cross_val_score

kf = KFold(len(abalone_target), n_folds=5, shuffle=True, random_state=1)
scores = np.zeros(50)

for n_trees in range(1, 51):
    clf = RandomForestRegressor(n_estimators = n_trees, random_state = 1)
    cv_scores = cross_val_score(clf, abalone_features, abalone_target, cv = kf, scoring='r2_score')
    scores[n_trees-1] = cv_scores.mean()
    print(cv_scores)