In [2]:
import pandas as pd
import numpy as np
salary_train = pd.read_csv("salary-train.csv")#, header = None, names = ['y', 'x1', 'x2'])
print(salary_train.shape)
salary_train.head(10)

(60000, 4)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
5,Sales and Marketing Assistant will provide adm...,Crawley,NaN,22500
6,Vacancy Ladieswear fashion Area Manager / Regi...,UK,permanent,32000
7,Reference: LR/JAN/**** Our client is one of th...,Bristol,permanent,30000
8,Sponsorship Manager London The Company A marke...,Central London,permanent,31500
9,"About Barclays Barclays moves, lends, invests ...",South East London,permanent,42499

In [31]:
salary_train['FullDescription'] =  [x.lower() for x in salary_train['FullDescription']]
salary_train.head(10)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london ****k ****...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager// luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse / rgn nursing home for young...,Sutton Coldfield,NaN,20355
5,sales and marketing assistant will provide adm...,Crawley,NaN,22500
6,vacancy ladieswear fashion area manager / regi...,UK,permanent,32000
7,reference: lr/jan/**** our client is one of th...,Bristol,permanent,30000
8,sponsorship manager london the company a marke...,Central London,permanent,31500
9,"about barclays barclays moves, lends, invests ...",South East London,permanent,42499

In [29]:
d = {'one' : [1., 2., 3., 4.],
     'two' : [4., 3., 2., 1.]}
df1 = pd.DataFrame(d)
print(df1)
print(df1.shape)
d2 = [5,2,4,3]
print(type(d2))
print(len(d2))
df1['one'] = d2
print(df1)

   one  two
0    1    4
1    2    3
2    3    2
3    4    1
(4, 2)
<class 'list'>
4
   one  two
0    5    4
1    2    3
2    4    2
3    3    1

In [32]:
salary_train['FullDescription'] = salary_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
salary_train.head(10)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,NaN,20355
5,sales and marketing assistant will provide adm...,Crawley,NaN,22500
6,vacancy ladieswear fashion area manager regi...,UK,permanent,32000
7,reference lr jan our client is one of th...,Bristol,permanent,30000
8,sponsorship manager london the company a marke...,Central London,permanent,31500
9,about barclays barclays moves lends invests ...,South East London,permanent,42499

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(min_df = 5)
doc_term_matrix = vectorizer.fit_transform(salary_train['FullDescription'])

print(type(doc_term_matrix))
print(doc_term_matrix.shape)

terms_names = vectorizer.get_feature_names()
print(terms_names[1:10])

<class 'scipy.sparse.csr.csr_matrix'>
(60000, 22861)
['000', '00025', '000my', '000the', '001', '005', '00am', '00am5', '00m']

In [40]:
salary_train['LocationNormalized'].fillna('nan', inplace=True)
salary_train['ContractTime'].fillna('nan', inplace=True)
salary_train.head(10)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,nan,20355
5,sales and marketing assistant will provide adm...,Crawley,nan,22500
6,vacancy ladieswear fashion area manager regi...,UK,permanent,32000
7,reference lr jan our client is one of th...,Bristol,permanent,30000
8,sponsorship manager london the company a marke...,Central London,permanent,31500
9,about barclays barclays moves lends invests ...,South East London,permanent,42499

In [49]:
from sklearn.feature_extraction import DictVectorizer
encoder = DictVectorizer()
salary_train_categ = encoder.fit_transform(salary_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
print(salary_train_categ.shape)
print(salary_train_categ[0:5,:])

(60000, 1766)
  (0, 2)	1.0
  (0, 957)	1.0
  (1, 2)	1.0
  (1, 957)	1.0
  (2, 2)	1.0
  (2, 1392)	1.0
  (3, 2)	1.0
  (3, 471)	1.0
  (4, 1)	1.0
  (4, 1495)	1.0

In [70]:
from scipy.sparse import hstack

salary_train_feature_matrix = hstack([doc_term_matrix, salary_train_categ])
print(salary_train_feature_matrix.get_shape())

salary_train_target = salary_train['SalaryNormalized']
print(salary_train_target.shape)

(60000, 24627)
(60000,)

In [71]:
from sklearn.linear_model import Ridge

clf = Ridge(alpha=1)
clf.fit(salary_train_feature_matrix, salary_train_target)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [72]:
salary_test = pd.read_csv("salary-test-mini.csv")#, header = None, names = ['y', 'x1', 'x2'])
print(salary_test.shape)
salary_test.head(10)

(2, 4)

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [73]:
salary_test['FullDescription'] =  [x.lower() for x in salary_test['FullDescription']]
salary_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,Milton Keynes,contract,NaN
1,a web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [74]:
salary_test['FullDescription'] = salary_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
salary_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,Milton Keynes,contract,NaN
1,a web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [80]:
test_doc_term_matrix = vectorizer.transform(salary_test['FullDescription'])

print(type(test_doc_term_matrix))
print(test_doc_term_matrix.shape)

<class 'scipy.sparse.csr.csr_matrix'>
(2, 22861)

In [76]:
salary_test['LocationNormalized'].fillna('nan', inplace=True)
salary_test['ContractTime'].fillna('nan', inplace=True)
salary_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,Milton Keynes,contract,NaN
1,a web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [81]:
salary_test_categ = encoder.transform(salary_test[['LocationNormalized', 'ContractTime']].to_dict('records'))
print(salary_test_categ.shape)
print(salary_test_categ)

(2, 1766)
  (0, 0)	1.0
  (0, 1040)	1.0
  (1, 2)	1.0
  (1, 997)	1.0

In [82]:
salary_test_feature_matrix = hstack([test_doc_term_matrix, salary_test_categ])
print(salary_test_feature_matrix.get_shape())

salary_test_target = clf.predict(salary_test_feature_matrix)
print(salary_test_target)

(2, 24627)
[ 56566.55846021  37182.03868716]